<h1>Hangman</h1>

<div class="row">
  <div class="col-sm-6">

    <svg height="500" width="500">
      <polyline points="400,
                        500 100,
                        500 150,
                        500 150,
                        100 320,
                        100 320,
                        150"
      style="fill:none;stroke:black;stroke-width:10" />
      <circle cx="320" cy="175" r="30" fill="white" stroke="black" style="stroke-width:2;" id="man1"></circle>
      <line x1="320" y1="205" x2="320" y2="350" style="stroke:rgb(0,0,0);stroke-width:4" id="man2" />
      <line x1="320" y1="225" x2="270" y2="255" style="stroke:rgb(0,0,0);stroke-width:2" id="man3" />
      <line x1="320" y1="225" x2="370" y2="265" style="stroke:rgb(0,0,0);stroke-width:2" id="man4" />
      <line x1="320" y1="350" x2="370" y2="400" style="stroke:rgb(0,0,0);stroke-width:2" id="man5" />
      <line x1="320" y1="350" x2="270" y2="400" style="stroke:rgb(0,0,0);stroke-width:2" id="man6" />
    </svg>



  </div>
   <div class="col-sm-6">

    <div ng-controller="HangmanCtrl">
      <div ng-show="!clickedShow">
      <h3>Enter a word</h3>
      <form ng-submit="handleSubmit()" role="form">
          <div class="form-group">
              <input class="form-control" ng-model="word" placeholder="Enter a word">
          </div>

          <button type="submit" class="btn btn-default" ng-click ="clickedShow = !clickedShow">Save</button>
      </form>
    </div>

      <div ng-show="clickedShow">
        <h3>Take a guess!</h3>
        <div ng-repeat="letter in letters | filter:{picked:false}" class="alphabet">
          <button class="btn btn-default letter-button" ng-click ="clickLetter(letter)">{{letter.value}}</button>
        </div>
        <div class="divide"></div>
        <div ng-repeat="blank in blanks track by $index" class="blank">
           <div ng-show="blank.guessed = false">
            {{blank.placeholder}}
          </div>
          <div ng-hide="blank.guessed = false">
            {{blank.value}}
          </div>
        </div>

      </div>

    </div>


  </div>
</div>
