.divide {
  height:20px;
}
.alphabet {
    display: inline-block;
    width: 45px;
    height: 45px;
    text-align: center;
    margin: 10px 10px 10px 0;
  .letter-button {
    width: 100%;
    height: 100%;
  }
}
.blank {
  display: inline-block;
  margin-right: 20px;
  font-size: 60px;
}